/********************************************************************************************************************/
@media only screen and (min-width: 10px) {
  div.wbtm_container {
    width: 100%;
    max-width: 1300px;
    margin: var(--dmp) auto;
  }
}
/********************************************************************************************************************/
@media only screen and (min-width: 10px) {
  div.wbtm_search_area button,
  div.wbtm_search_area input.formControl {
    height: 44px;
  }
}
/********************************************************************************************************************/
@media only screen and (min-width: 10px) {
  div.wbtm_bus_list_area table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    box-shadow: none;
    margin: 0;
  }
  div.wbtm_bus_list_area table th,
  div.wbtm_bus_list_area table td {
    border: none;
    vertical-align: middle;
    font-size: var(--fs_label);
  }
  div.wbtm_bus_list_area table thead th {
    background-color: var(--color_light);
    text-transform: capitalize;
  }
  div.wbtm_bus_list_area table tbody {
    background-color: var(--color_theme_alter);
  }
  div.wbtm_bus_list_area table tbody tr.bus_item_row td {
    border-top: 1px solid var(--color_theme);
  }
  div.wbtm_selected_seat_details table {
    border: 1px solid var(--color_border);
  }
  div.wbtm_selected_seat_details table tbody tr:nth-of-type(odd) th,
  div.wbtm_selected_seat_details table tbody tr:nth-of-type(odd) td,
  div.wbtm_bus_details_area table tbody tr:nth-of-type(odd) th,
  div.wbtm_bus_details_area table tbody tr:nth-of-type(odd) td {
    color: var(--d_color);
    text-align: left;
  }
  div.wbtm_selected_seat_details table tbody tr:nth-of-type(even) th,
  div.wbtm_selected_seat_details table tbody tr:nth-of-type(even) td,
  div.wbtm_bus_details_area table tbody tr:nth-of-type(even) th,
  div.wbtm_bus_details_area table tbody tr:nth-of-type(even) td {
    background-color: var(--color_white);
    color: var(--d_color);
    text-align: left;
  }
  /**********************/
  div.wbtm_bus_list_area td.wbtm_bus_details {
    padding: 0;
  }
  /**********************/
  div.wbtm_form_submit_area,
  div.wbtm_ex_service_area {
    display: none;
  }
  /**********************/
  img.driver_img {
    max-width: 45px !important;
  }
}
/********************************************************************************************************************/
@media only screen and (min-width: 10px) {
  div.wbtm_bus_list_area div.wbtm_seat_plan_area table {
    margin: 0 auto;
  }
  div.wbtm_bus_list_area div.wbtm_seat_plan_area table tr {
    background-color: var(--color_theme_alter);
  }
  div.wbtm_bus_list_area div.wbtm_seat_plan_area table th,
  div.wbtm_bus_list_area div.wbtm_seat_plan_area table td {
    min-height: 60px;
    text-align: center;
    height: 60px;
    width: 60px;
    background-color: var(--color_theme_alter);
    padding: 5px;
    min-width: 60px;
  }
  div.wbtm_bus_list_area div.wbtm_seat_plan_area table thead th {
    height: auto;
  }
  div.mp_driver_image {
    width: 60px;
  }
  /****************/
  div.mp_seat_item {
    position: relative;
    width: 100%;
    height: 100%;
  }
  div.mp_seat_item:hover div.seat_available {
    border-color: var(--color_theme);
    color: var(--color_theme);
  }
  div.mp_seat_item div.wbtm_seat_item_list {
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 150px;
    width: 100%;
    display: none;
    z-index: 111;
    margin: 0;
    padding: 0;
    background-color: var(--color_light);
    border: 1px solid var(--color_theme);
    border-radius: var(--dbr);
  }
  div.mp_seat_item div.wbtm_seat_item_list li {
    cursor: pointer;
    padding: 5px var(--dmp_xs);
  }
  div.mp_seat_item div.wbtm_seat_item_list li:hover {
    background-color: var(--color_theme);
    color: var(--color_theme_alter);
  }
  div.mp_seat_item:hover div.wbtm_seat_item_list {
    display: block;
  }
  div.mp_seat_item div.wbtm_seat_item_list::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 15px;
    top: -20px;
    border: 10px solid transparent;
    border-bottom-color: var(--color_theme);
  }
  /****************/
  .wbtm_registration_area div.wbtm_item_hidden {
    display: none;
  }
  /****************/
  div.wbtm_seat_plan_area div.mp_seat {
    border: 1px solid var(--color_border);
    width: 100%;
    height: 100%;
    border-radius: var(--dbr);
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    border-radius: 15px 15px 0 0;
    border-bottom: 5px solid var(--color_light);
  }
  div.seat_available {
    background-color: var(--color_theme_alter);
    cursor: pointer;
    color: var(--d_color);
  }
  div.seat_selected.seat_available,
  div.mp_seat_item:hover div.seat_selected.seat_available {
    background-color: var(--color_theme);
    color: var(--color_theme_alter);
  }
  div.seat_booked {
    cursor: not-allowed;
    background-color: var(--color_warning);
    color: var(--color_theme_alter);
  }
  div.seat_in_cart {
    cursor: not-allowed;
    background-color: var(--color_light_3);
    color: var(--color_theme_alter);
  }
  /********************/
  div.wbtm_seat_plan_area table tr th:nth-last-child(2) div.wbtm_seat_item_list,
  div.wbtm_seat_plan_area table tr th:last-child div.wbtm_seat_item_list {
    right: 0;
    left: inherit;
  }
  div.wbtm_seat_plan_area
    table
    tr
    th:nth-last-child(2)
    div.wbtm_seat_item_list::before,
  div.wbtm_seat_plan_area
    table
    tr
    th:last-child
    div.wbtm_seat_item_list::before {
    left: inherit;
    right: 15px;
  }
  div.wbtm_seat_plan_area table tr:nth-last-child(2) th div.wbtm_seat_item_list,
  div.wbtm_seat_plan_area table tr:last-child th div.wbtm_seat_item_list {
    top: calc(-100% - 23px);
  }
  div.wbtm_seat_plan_area
    table
    tr:nth-last-child(2)
    th
    div.wbtm_seat_item_list::before,
  div.wbtm_seat_plan_area
    table
    tr:last-child
    th
    div.wbtm_seat_item_list::before {
    top: 100%;
    border-top-color: var(--color_theme);
    border-bottom-color: transparent;
  }
}
/********************************************************************************************************************/
/*  ======text alignment======= */
.text-start {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-end {
  text-align: right;
}
/* ============= */
.wbtm-bust-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  /* background-color: #F5F5F5; */
  text-align: center;
  border-radius: var(--dbr);
  border: 1px solid var(--color_theme);
  margin-top: 0.8em;
}
.wbtm-bus-image {
  width: 100%;
}
.wbtm-bus-name {
  width: 100%;
  color: var(--d_color);
  margin: 0.5rem 0;
}
.wbtm-bus-route {
  width: 100%;
  margin: 0.5rem 0;
}
.wbtm-bus-route h6 {
  margin: 0.3em 0 !important;
}
.wbtm-seat-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.5rem 0;
  border: 1px solid #b8b8b8;
  padding: 0.5em 0;
}
.wbtm-seat-info p {
  color: #4c4c4c;
}
.wbtm-seat-book {
  width: 100%;
  margin: 1rem 0;
}
.wbtm-seat-book [class*="Button_xs"] {
  width: 100%;
}

@media (min-width: 768px) {
  .wbtm-bust-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .wbtm-bus-image {
    width: 10%;
  }
  .wbtm-bus-name {
    width: 15%;
    margin: 0;
  }
  .wbtm-bus-route {
    width: 20%;
    margin: 0;
  }
  .wbtm-seat-info {
    width: 35%;
    margin: 0;
    justify-content: space-between;
    border: 0 solid #797979;
    padding: 0;
  }
  .wbtm-seat-book {
    width: 10%;
    margin: 0;
  }
}
