/********************************************************************************************************************/
@media only screen and (min-width: 10px) {
	div#wbtm_area{width:100%;max-width:1300px; margin:var(--dMP) auto;}
}
/********************************************************************************************************************/
@media only screen and (min-width: 10px) {
	div.wbtm_search_area button,
	div.wbtm_search_area input.formControl {height: 44px;}
}
/********************************************************************************************************************/
@media only screen and (min-width: 10px) {
	div.wbtm_bus_list_area {
		padding: 5px 0;margin: var(--dMP_xs) 0 0 0;
		background-color: var(--color_theme);
		border-radius: var(--dBR);border: 1px solid var(--color_theme);
	}
	div.wbtm_bus_list_area table {width: 100%;border: none;border-collapse: collapse;box-shadow: none;margin: 0;}
	div.wbtm_bus_list_area table th,
	div.wbtm_bus_list_area table td {border: none;vertical-align: middle;font-size: var(--fs_label);}
	div.wbtm_bus_list_area table thead th {background-color: var(--color_theme);color: var(--color_theme_alter);text-transform: capitalize;}
	div.wbtm_bus_list_area table tbody {background-color: var(--color_theme_alter);}
	div.wbtm_bus_list_area table tbody tr.bus_item_row td {border-top: 1px solid var(--color_theme); }
	div.wbtm_selected_seat_details table tbody tr:nth-of-type(odd) th,
	div.wbtm_selected_seat_details table tbody tr:nth-of-type(odd) td,
	div.wbtm_bus_details_area table tbody tr:nth-of-type(odd) th,
	div.wbtm_bus_details_area table tbody tr:nth-of-type(odd) td {background-color: var(--color_light_2);color: var(--d_color);text-align: left;}
	div.wbtm_selected_seat_details table tbody tr:nth-of-type(even) th,
	div.wbtm_selected_seat_details table tbody tr:nth-of-type(even) td,
	div.wbtm_bus_details_area table tbody tr:nth-of-type(even) th,
	div.wbtm_bus_details_area table tbody tr:nth-of-type(even) td {background-color: var(--color_white);color: var(--d_color);text-align: left;}
	/**********************/
	div.wbtm_bus_list_area td.wbtm_bus_details {padding: 0;}
	/**********************/
	div.wbtm_form_submit_area,
	div.wbtm_ex_service_area {display: none;}
	/**********************/
	img.driver_img {max-width: 45px !important;}
}
/********************************************************************************************************************/
@media only screen and (min-width: 10px) {
	div.wbtm_bus_list_area div.wbtm_seat_plan_area table {width: auto !important; margin: 0 auto;}
	div.wbtm_bus_list_area div.wbtm_seat_plan_area table tr {background-color: var(--color_theme_alter);}
	div.wbtm_bus_list_area div.wbtm_seat_plan_area table th,
	div.wbtm_bus_list_area div.wbtm_seat_plan_area table td {min-height: 60px;text-align: center;height: 60px;width: 60px;background-color: var(--color_theme_alter);padding: 5px;min-width: 60px;}
	div.wbtm_bus_list_area div.wbtm_seat_plan_area table thead th {height: auto;}
	div.mp_driver_image {width: 60px;}
	/****************/
	div.mp_seat_item {position: relative;width: 100%;height: 100%; }
	div.mp_seat_item:hover div.seat_available {border-color: var(--color_theme);color: var(--color_theme);}
	div.mp_seat_item div.wbtm_seat_item_list {
		position: absolute;left: 0;top: 100%;min-width: 150px;display: none;z-index: 111; margin: 0;padding: 0;
		background-color: var(--color_light);border: 1px solid var(--color_theme);border-radius: var(--dBR);
	}
	div.mp_seat_item div.wbtm_seat_item_list li {cursor: pointer;padding: 5px var(--dMP_xs);}
	div.mp_seat_item div.wbtm_seat_item_list li:hover {background-color: var(--color_theme);color: var(--color_theme_alter);}
	div.mp_seat_item:hover div.wbtm_seat_item_list {display: block;}
	div.mp_seat_item div.wbtm_seat_item_list::before {
		position: absolute; content: ''; width: 20px; height: 20px; left: 15px; top: -20px;
		border: 10px solid transparent; border-bottom-color: var(--color_theme)
	}
	/****************/
	.wbtm_registration_area div.wbtm_item_hidden {display: none;}
	/****************/
	div.wbtm_seat_plan_area div.mp_seat {
		border: 1px solid var(--color_border);width: 100%;height: 100%;
		border-radius: var(--dBR);
		display: -webkit-flex;display: flex;
		-webkit-align-items: center;align-items: center;
		-webkit-justify-content: center;justify-content: center;
	}
	div.seat_available {background-color: var(--color_theme_alter);cursor: pointer;color: var(--d_color);}
	div.seat_selected.seat_available,
	div.mp_seat_item:hover div.seat_selected.seat_available {background-color: var(--color_theme);color: var(--color_theme_alter);}
	div.seat_booked {cursor: not-allowed;background-color: var(--color_warning);color: var(--color_theme_alter);}
	div.seat_in_cart {cursor: not-allowed;background-color: var(--color_light_3);color: var(--color_theme_alter);}
	/********************/
	div.wbtm_seat_plan_area table tr th:nth-last-child(2) div.wbtm_seat_item_list,
	div.wbtm_seat_plan_area table tr th:last-child div.wbtm_seat_item_list {right: 0;left: inherit;}
	div.wbtm_seat_plan_area table tr th:nth-last-child(2) div.wbtm_seat_item_list::before,
	div.wbtm_seat_plan_area table tr th:last-child div.wbtm_seat_item_list::before {left: inherit;right: 15px;}
	div.wbtm_seat_plan_area table tr:nth-last-child(2) th div.wbtm_seat_item_list,
	div.wbtm_seat_plan_area table tr:last-child th div.wbtm_seat_item_list {top: calc(-100% - 44px);}
	div.wbtm_seat_plan_area table tr:nth-last-child(2) th div.wbtm_seat_item_list::before,
	div.wbtm_seat_plan_area table tr:last-child th div.wbtm_seat_item_list::before {top: 100%; border-top-color: var(--color_theme); border-bottom-color: transparent;}
}
/********************************************************************************************************************/
@media only screen and (min-width: 10px) {
}