.wbtm_bus_search_result_holder{
    width: 100%;
    display: block;
    float: left;
    position: relative;
}

.wbtm_bus_list_area{
    /*width: calc( 100% - 180px );*/
}

.wbtm_bus_left_filter_holder {
    width: 180px;
    background: #fffafa;
    border: 1px solid #d1cacaee;
    border-radius:5px;
    margin-top: 10px;
    display: block;
    float: left;
    margin-right: 10px;
    position: relative;
    height: auto;
    padding-left: 5px;
}
.wbtm_bus_toggle-header{
    text-align: left;
    font-weight: normal;
    font-size: 15px;
    color: #e90c57;
    font-weight: 500;
    padding: 5px 1px;
}
.wbtm_bus_left_filter_checkbox_holder{
    padding: 3px;
}
.wbtm_search_result_holder{
    display: flex;
    width: 100%;
}
.wbtm_bus_filter_reset_text{
    background-color: #f13f7c;
    padding: 2px 7px;
    color: #F6F6F6;
    border-radius: 2px;
}
.wbtm_bus_filter_reset_text:hover{
    background-color: #eb0452;
    color: #e7e7e7;
}
.wbtm_bus_filter_title_text{
    font-size: 17px;
    font-weight: bold;
}
.wbtm_bus_filter-options{
    display: flex;
}

.wbtm_left_filter_title_holder{
    display: flex;
    padding-top: 8px;
    flex-direction: row;
}
.wbtm_bus_filter_title{
    flex: 1;
    width: 50%;
}
.wbtm_bus_filter_reset{
    flex: 1;
    width: 50%;
    text-align: right;
    padding-right: 5px;
    cursor: pointer;
}


.wbtm_selected_bus_card {
    display: flex;
    align-items: center;
    background: #fafffa;
    border: 1px solid #34c759;
    border-radius: 5px;
    padding: 10px;
    /*max-width: 1100px;*/
    margin: 5px;
    gap: 20px;
}

/* 1. Bus Image */
.wbtm_selected_bus_image img {
    width: 170px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

/* 2. Image Name */
.wbtm_selected_bus_img_name {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.wbtm_selected_bus_img_name span {
    font-size: 14px;
    color: gray;
}

/* 3. Info block */
.wbtm_selected_bus_info {
    flex: 1;
}

.wbtm_selected_bus_date {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #09a53c;
    margin-bottom: 8px;
}

.wbtm_selected_bus_route {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wbtm_selected_bus_time {
    font-weight: bold;
    font-size: 16px;
}

.wbtm_selected_bus_city {
    font-size: 14px;
}

.wbtm_selected_bus_center {
    text-align: center;
    color: #555;
}

.wbtm_selected_bus_icon {
    font-size: 22px;
}

.wbtm_selected_bus_duration {
    font-size: 14px;
}

.wbtm_selected_bus_arrow {
    font-size: 20px;
    margin-top: 5px;
}

.wbtm_selected_bus_seats {
    margin-top: 10px;
    background: white;
    padding: 6px 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    display: inline-block;
}

/* 4. Payment Section */
.wbtm_selected_bus_payment {
    text-align: center;
    min-width: 180px;
}

.wbtm_selected_bus_label {
    font-size: 13px;
    color: #555;
}

.wbtm_selected_bus_price {
    font-size: 26px;
    font-weight: bold;
    color: #ff6600;
    margin: 5px 0;
}

.wbtm_selected_bus_btn {
    background: #6b9775;
    color: white;
    border: none;
    padding: 10px 24px;
    font-size: 16px;
    border-radius: 8px;
}
.wbtm_input_error {
    border: 1px solid red !important;
    background: #ffe9e9;
}

@media screen and (max-width: 520px) {
    .wbtm_search_result_holder{
        flex-direction: column;
    }
    .wbtm_left_filter_element_holder{
        /*display: flex;
        gap: 5px;*/
    }

    .wbtm_bus_left_filter_holder{
        flex: 1;
        width: 100%;
    }
    .wbtm_bus_list_area{
        flex: 1;
        width: 100% !important;
    }
}
