/********************************************************************************************************************/
@media only screen and (min-width: 10px) {
	.woocommerce.woocommerce-checkout form #customer_details.col2-set,
	.woocommerce-page.woocommerce-checkout form #customer_details.col2-set{width: 45%;}
	.woocommerce.woocommerce-checkout form #order_review,
	.woocommerce.woocommerce-checkout form #order_review_heading,
	.woocommerce-page.woocommerce-checkout form #order_review,
	.woocommerce-page.woocommerce-checkout form #order_review_heading{width: 50%;}
	table.woocommerce-checkout-review-order-table .product-name{min-width: calc(100% - 125px);display: table-cell !important;}
}
/********************************************************************************************************************/
@media only screen and (min-width: 10px) {
}
/********************************************************************************************************************/
@media only screen and (min-width: 10px) {
}
/********************************************************************************************************************/
@media only screen and (min-width: 10px) {
}