.wbtm-bus-flix-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--color_light);
  border: 1px solid var(--color_border);
  margin: 10px auto;
  border-radius: 5px;
  padding: 10px;
  font-family: sans-serif;
  @media (min-width: 1024px) {
    flex-direction: row;
  }
  .title {
    width: 100%;
    @media (min-width: 768px) {
      width: 12%;
    }
    span {
      padding: 0 8px;
      border-radius: 50px;
      color: #fff;
      background-color: var(--color_theme_cc);
      font-size: 11px;
      line-height: 2;
    }
  }
  .route {
    width: 100%;
    @media (min-width: 768px) {
      width: 45%;
    }
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    .route-info {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: space-between;
      align-items: center;
      margin: 14px 0;
      .from,
      .to {
        width: 45%;
        @media (min-width: 540px) {
          width: 25%;
        }
        
      }
      .to {
        padding-left: 0;
        @media (min-width: 768px) {
          padding-left: 20px;
        }
      }
      .duration {
        border-bottom: 3px solid var(--d_color);
        width: 65%;
        position: relative;
        .time {
          background: var(--color_light);
          position: absolute;
          top: -12px;
          left: 50%;
          transform: translateX(-50%);
          padding: 0 5px;
        }
      }
    }
  }
  .feature {
    display: flex;
    justify-content: start;
    align-items: center;
    .items {
      padding: 2px 8px;
      border-radius: 50px;
    }
  }
}
.pickup-point,
.drop-off-point {
  margin-left: 8px;
  border-left: 1px solid;
  flex-direction: column;
  .point {
    margin-left: -0.57em;
    padding: 15px 0;
    &:first-child {
      padding-top: 21px;
    }
    &:last-child {
      padding-bottom: 0;
      line-height: 0;
      margin-bottom: 24px;
    }
  }
}
.wbtm_selected_seat_details{
  table tbody tr:nth-child(2n+1)
    {
      background:#fff;
    }
  table tr:hover{
    background-color: #fff;
  }
  table tbody tr:nth-child(2n+1) {
    background: none;
  }

}

.wbtm_ex_service_area{
  table tbody tr:nth-child(2n+1) {
    background: none;
  }
  table tr:nth-child(2n) {
    background: none;
  }
}

.wbtm-seat-book.hide {
  display: none;
}