.wbtm-bus-flix-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--wbtm_color_light);
  border: 1px solid var(--wbtm_color_border);
  margin: 10px auto;
  border-radius: 5px;
  padding: 10px;
  font-family: sans-serif;
}
@media (min-width: 1024px) {
  .wbtm-bus-flix-style {
    flex-direction: row;
  }
}
.wbtm-bus-flix-style .title {
  width: 100%;
}
@media (min-width: 768px) {
  .wbtm-bus-flix-style .title {
    width: 12%;
  }
}
.wbtm-bus-flix-style .title span {
  padding: 0 8px;
  border-radius: 50px;
  color: #fff;
  background-color: var(--wbtm_color_theme_cc);
  font-size: 11px;
  line-height: 2;
}
.wbtm-bus-flix-style .route {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}
@media (min-width: 768px) {
  .wbtm-bus-flix-style .route {
    width: 45%;
  }
}
.wbtm-bus-flix-style .route .route-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  align-items: center;
  margin: 14px 0;
}
.wbtm-bus-flix-style .route .route-info .from,
.wbtm-bus-flix-style .route .route-info .to {
  width: 45%;
}
@media (min-width: 540px) {
  .wbtm-bus-flix-style .route .route-info .from,
  .wbtm-bus-flix-style .route .route-info .to {
    width: 25%;
  }
}
.wbtm-bus-flix-style .route .route-info .to {
  padding-left: 0;
}
@media (min-width: 768px) {
  .wbtm-bus-flix-style .route .route-info .to {
    padding-left: 20px;
  }
}
.wbtm-bus-flix-style .route .route-info .duration {
  border-bottom: 3px solid var(--wbtm_d_color);
  width: 65%;
  position: relative;
}
.wbtm-bus-flix-style .route .route-info .duration .time {
  background: var(--wbtm_color_light);
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 5px;
}
.wbtm-bus-flix-style .feature {
  display: flex;
  justify-content: start;
  align-items: center;
}
.wbtm-bus-flix-style .feature .items {
  padding: 2px 8px;
  border-radius: 50px;
}

.wbtm_style .wbtm_search_area {
  border: 0;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
}
.wbtm_style .wbtm_search_area .inputList {
  margin: 0 10px 5px 0;
}
.wbtm_style .wbtm_search_area .inputList:last-child {
  margin-right: 0;
}
.wbtm_style .wbtm_search_area .marker, .wbtm_style .wbtm_search_area .calendar {
  position: relative;
}
.wbtm_style .wbtm_search_area .marker i, .wbtm_style .wbtm_search_area .calendar i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #999;
}
.wbtm_style .wbtm_search_area .marker input, .wbtm_style .wbtm_search_area .calendar input {
  padding-left: 30px;
  font-size: 16px;
}
.wbtm_style .wbtm_search_result .wbtm-date-suggetion {
  margin-bottom: 20px;
}
.wbtm_style .wbtm_search_result .wbtm-date-suggetion .wbtm_next_date {
  margin-right: 5px;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #fff;
  color: var(--wbtm_d_color);
  font-weight: normal;
  font-size: 16px;
}
.wbtm_style .wbtm_search_result .wbtm-date-suggetion .wbtm_next_date:last-child {
  margin-right: 0;
}
.wbtm_style .wbtm_search_result .wbtm-date-suggetion .wbtm_next_date:hover {
  color: var(--wbtm_color_theme);
  border: 1px solid var(--wbtm_color_theme);
}
.wbtm_style .wbtm_search_result .wbtm-date-suggetion .wbtm_next_date.active {
  background-color: var(--wbtm_color_theme);
  color: #fff;
}
.wbtm_style .wbtm_search_result .wbtm-date-route {
  background-color: white;
  padding: 15px;
  border-radius: 12px 12px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  border-bottom: 2px solid var(--wbtm_color_theme);
}
.wbtm_style .wbtm_search_result .wbtm-bus-lists .wbtm-bus-list {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: all 0.3s;
  margin-top: 0;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  gap: 0;
}
.wbtm_style .wbtm_search_result .wbtm-bus-lists .wbtm-bus-list .wbtm-bus-image {
  background-color: #f0f2f5;
  border-radius: 0 0 0 12px;
  width: 10%;
  height: 110px;
}
.wbtm_style .wbtm_search_result .wbtm-bus-lists .wbtm-bus-list .wbtm-bus-image .bg_image_area {
  width: 100%;
  height: 100%;
}
.wbtm_style .wbtm_search_result .wbtm-bus-lists .wbtm-bus-list .wbtm-bus-image .bg_image_area > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 0 0 0 12px;
}
.wbtm_style .wbtm_search_result .wbtm-bus-lists .wbtm-bus-list .wbtm-bus-name {
  margin: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-right: 1px solid #eee;
  width: auto;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  align-items: start;
  width: 20%;
}
.wbtm_style .wbtm_search_result .wbtm-bus-lists .wbtm-bus-list .wbtm-bus-name p {
  font-size: 14px;
  color: gray;
}
.wbtm_style .wbtm_search_result .wbtm-bus-lists .wbtm-bus-list .wbtm-bus-route {
  margin: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-right: 1px solid #eee;
  width: auto;
  width: 30%;
  gap: 8px;
  align-items: start;
}
.wbtm_style .wbtm_search_result .wbtm-bus-lists .wbtm-bus-list .wbtm-bus-route h6:nth-child(1) i {
  color: #28a745;
  padding-right: 10px;
}
.wbtm_style .wbtm_search_result .wbtm-bus-lists .wbtm-bus-list .wbtm-bus-route h6:nth-child(2) i {
  color: #dc3545;
  padding-right: 10px;
}
.wbtm_style .wbtm_search_result .wbtm-bus-lists .wbtm-bus-list .wbtm-bus-route h6:nth-child(3) i {
  padding-right: 10px;
}
.wbtm_style .wbtm_search_result .wbtm-bus-lists .wbtm-bus-list .wbtm-bus-route .time {
  color: gray;
}
.wbtm_style .wbtm_search_result .wbtm-bus-lists .wbtm-bus-list .wbtm-seat-info {
  margin: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-right: 1px solid #eee;
  width: auto;
  width: 10%;
}
.wbtm_style .wbtm_search_result .wbtm-bus-lists .wbtm-bus-list .wbtm-seat-info .ac {
  background-color: #e0f7fa;
  color: #0097a7;
  padding: 2px 6px;
  border-radius: 5px;
}
.wbtm_style .wbtm_search_result .wbtm-bus-lists .wbtm-bus-list .wbtm-seat-info .none-ac {
  background-color: #fff8e1;
  color: #ffa000;
  padding: 2px 6px;
  border-radius: 5px;
}
.wbtm_style .wbtm_search_result .wbtm-bus-lists .wbtm-bus-list .wbtm-seat-info .seats-available {
  color: #28a745;
  font-size: 16px;
  font-weight: bold;
}
.wbtm_style .wbtm_search_result .wbtm-bus-lists .wbtm-bus-list .wbtm-seat-info .seats-price {
  color: var(--wbtm_color_theme);
  font-size: 16px;
  font-weight: bold;
}
.wbtm_style .wbtm_search_result .wbtm-bus-lists .wbtm-bus-list .wbtm-seat-book {
  margin: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-right: 1px solid #eee;
  width: auto;
  width: 10%;
  border-right: 0;
}
.wbtm_style .wbtm_search_result .wbtm-bus-lists .lists-title {
  background: linear-gradient(105deg, #dddddd, #d8d8d8);
  color: var(--wbtm_color_theme);
  padding: 10px 0;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 30px 0;
  text-align: center;
}

.pickup-point,
.drop-off-point {
  margin-left: 8px;
  border-left: 1px solid;
  flex-direction: column;
}
.pickup-point .point,
.drop-off-point .point {
  margin-left: -0.57em;
  padding: 15px 0;
}
.pickup-point .point:first-child,
.drop-off-point .point:first-child {
  padding-top: 21px;
}
.pickup-point .point:last-child,
.drop-off-point .point:last-child {
  padding-bottom: 0;
  line-height: 0;
  margin-bottom: 24px;
}

.wbtm_selected_seat_details table tbody tr:nth-child(2n+1) {
  background: #fff;
}
.wbtm_selected_seat_details table tr:hover {
  background-color: #fff;
}
.wbtm_selected_seat_details table tbody tr:nth-child(2n+1) {
  background: none;
}

.wbtm_ex_service_area table tbody tr:nth-child(2n+1) {
  background: none;
}
.wbtm_ex_service_area table tr:nth-child(2n) {
  background: none;
}

.wbtm-seat-book.hide {
  display: none;
}

/*# sourceMappingURL=wbtm.css.map */
