
.wbtm-date-route_title{
    background-color: white;
    padding: 15px 1px;
    border-radius: 12px 12px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid var(--wbtm_color_theme);
}
.wbtm-date-return-route-title {
    background-color: white;
    padding: 15px 1px;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    /*border-bottom: 2px solid var(--wbtm_color_theme);*/
}

.wbtm_search_route_container {
    display: flex;
    align-items: center;
    background-color: #e8f0fe; /* Light blue background */
    border-radius: 4px; /* Optional: adds slight rounding */
    padding: 10px 0;
    width: 100%;
    font-family: Arial, sans-serif;
    border: 1px solid #c5dafd;
}

.wbtm_search_route_return_date {
    background-color: #dae7ff;
    padding: 10px 15px;
    text-align: left;
    height: 100%;
    min-width: 120px;
}

.wbtm_selected_bus_payment{
    display: flex;
    flex-direction: column;
}

.wbtm_seleced_start_bus{
    margin: 15px 0;
}

.wtbm_icon_margin{
    margin: unset !important;
    margin-left: 5px !important;

}

.wbtm_search_route_label {
    color: #4285f4;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 3px;
}

.wbtm_search_route_date {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.wbtm_search_route_day {
    font-size: 14px;
    color: #5f6368;
}

.wbtm_search_route_cities_wrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 0 10px;
}

.wbtm_search_route_city_section {
    padding: 0 15px;
    flex-basis: 35%;
}

.wbtm_search_route_city_section_right {
    border-left: 1px solid #c5dafd;
    padding-left: 25px;
    flex-basis: 30%;
}

.wbtm_search_route_city {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    line-height: 1.2;
}

.wbtm_search_route_airport_code {
    font-size: 14px;
    color: #5f6368;
}

.wbtm_search_route_icon_wrapper {
    flex-grow: 1;
    text-align: center;
    font-size: 24px;
    color: #4285f4;
    /*transform: rotate(90deg);*/
    margin: 0 10px;
}

.wbtm_search_route_dropdown_icon {
    font-size: 30px;
    color: #4285f4;
    cursor: pointer;
    padding: 0 15px 0 5px;
    line-height: 1;
    margin-top: -8px;
}
.wbtm_search_route_icon_wrapper {
    flex-grow: 1;
    text-align: center;
    font-size: 28px;
    color: #4285f4;
    margin: 0 10px;
}