
.wbtm-date-route_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    /* border-bottom: 2px solid var(--wbtm_color_theme); */
}
.wbtm-date-return-route-title {

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    /*border-bottom: 2px solid var(--wbtm_color_theme);*/
}

.wbtm_departure_bus_lists_holder,.wbtm_return_bus_lists_holder{
    border: 1px solid #b9d3ff;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
}
.wbtm_bus_list_area{
    padding:10px;
}
#wbtm_return_container .wbtm-date-suggetion{
    margin: 10px;
}
.wbtm_search_route_container {
    display: flex;
    align-items: center;
    background-color: #cfe2ff;
    border-radius: 4px;  
    width: 100%;
    font-family: Arial, sans-serif;
}

.wbtm_search_route_return_date {
    background-color: #9ec5fe;
    padding:10px;
    text-align: left;
    height: 100%;
    min-width: 120px;
}


.wbtm_selected_bus_payment{
    display: flex;
    flex-direction: column;
}

.wbtm_seleced_start_bus{

}

.wtbm_icon_margin{
    margin: unset !important;
    margin-left: 5px !important;

}

.wbtm_search_route_label {
    color: var(--wbtm_color_theme);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 3px;
}

.wbtm_search_route_date {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.wbtm_search_route_day {
    font-size: 14px;
    color: #5f6368;
}

.wbtm_search_route_cities_wrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding:10px;
}

.wbtm_search_route_city_section {
    padding:10px;
    width: 33%;
}
.wbtm_search_route_icon_wrapper span.wbtm_search_route_bus_icon img{
    width: 80px;
    height: auto;
}
.wbtm_search_route_icon_wrapper {
    width: 30%;
}

.wbtm_search_route_city_section_right {
    border-left: 1px solid #c5dafd;
    padding:10px;
    width: 30%;
}
@media only screen and (max-width: 768px) {
  .wbtm_search_route_icon_wrapper{
    display: none;
  }
  .wbtm_search_route_city_section{
    width: 45%;
  }
  .wbtm_search_route_city_section_right{
    width: 45%;
  }
  .wbtm_style .wbtm_search_result .wbtm-bus-lists .wbtm-bus-list .wbtm-bus-image {
    height: 200px;
  }
}
.wbtm_search_route_city {
    font-size: 18px;
    font-weight: normal;
    color: #000;
    line-height: 1.2;
}

.wbtm_search_route_airport_code {
    font-size: 14px;
    color: #5f6368;
}


.wbtm_search_route_dropdown_icon {
    font-size: 30px;
    color: #b1bed3;
    cursor: pointer;
    line-height: 1;
}

.wbtm_return_bus_lists_holder  .wbtm_search_route_cities_wrapper .wbtm_search_route_icon_wrapper img{
   transform: scaleX(-1);
}