/********************************************************************  ************************************************/
@media only screen and (min-width: 10px) {
	div.wbtm_settings_pricing_routing div.mp_item_insert div:nth-last-child(2) h3 span {display: none;}
	#mp_meta_box_panel div.wbtm_seat_plan_settings table {table-layout: auto;}
	/*****************/
	div.wbtm_seat_plan_settings {padding: var(--dMP_xs);width: calc(100% - 300px);background-color: var(--color_2);}
	div.wbtm_seat_plan_settings table {border: none;}
	div.wbtm_seat_plan_settings table th {min-width: 75px;}
	div.wbtm_seat_plan_settings table th .formControl {text-align: center;}
	#mp_meta_box_panel div.wbtm_seat_plan_settings table tr:nth-child(even),
	#mp_meta_box_panel div.wbtm_seat_plan_settings table tr:nth-child(odd) {background-color: transparent;}
}
/********************************************************************  ************************************************/
@media only screen and (min-width: 10px) {
}
