/*Faq manage*/
.wbtm_settings_term_condition,
.wtbm_all_selected_term_condition {
    display: flex !important;
    flex-direction: column;
    gap:8px;
}
.wtbm_taxonomies_content_holder {
    display: block;
    padding: 30px;
    background: white;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    box-shadow: 0 0 5px #d5e4ff;
}

.wtbm_term_modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
}
.wtbm_modal_content {
    background: #fff;
    width: 800px;
    max-width: 95%;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    position: relative;
    animation: wtbm_popup_fade 0.3s ease;
    margin: auto;
    top: 50%;
    min-height: 500px;
    transform: translateY(-50%);
}

.wtbm_add_term_condition_btn{
    margin: 5px 0 !important;
    float: right !important;
}

.btn-primary {
    background: #667eea;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.wtbm_term_table td, .wtbm_term_table th {
    padding: 8px 10px;
}
.wtbm_term_title{
    width: 100%;
}

#wp-wtbm_term_answer-wrap .wp-editor-area {
    min-height: 400px !important;
}

#wtbm_term_answer {
    min-height: 400px !important;
}

.wtbm_term_question_holder {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
}

.wtbm_all_term_condition{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-sizing: border-box;
}

.wtbm_term_all_question_box,
.wtbm_selected_term_question_box {
    flex: 1 1 48%;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-sizing: border-box;
}

.wtbm_term_item,
.wtbm_selected_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f9fa;
    padding: 8px 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    transition: background 0.2s ease;
}

.wtbm_term_item:hover,
.wtbm_selected_item:hover {
    background: #eef3f7;
}



.wtbm_term_question_holder {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
}

.wtbm_term_all_question_box,
.wtbm_selected_term_question_box {
    flex: 1 1 48%;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-sizing: border-box;
}

.wtbm_term_item,
.wtbm_selected_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f9fa;
    padding: 8px 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    transition: background 0.2s ease;
}

.wtbm_term_item:hover,
.wtbm_selected_item:hover {
    background: #eef3f7;
}

@media (max-width: 768px) {
    .wtbm_term_question_holder {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .wtbm_term_question_holder {
        flex-direction: column;
    }
}
