.name_required{
	color:red;
	padding-left: 158px  !important;
	padding-top: 10px !important;
	font-size: 17px !important;
	display: none;
}
.success_text{
	text-align: center;
	padding-bottom: 10px !important;
}

.mpStyle .roundSwitchLabel input:checked + .roundSwitch {
	background-color: var(--success-color);
}
.mpStyle label span:not(.woocommerce-Price-currencySymbol) {
	margin: 0 var(--default-mp-xs) 0 0;
}
.mpStyle label {
	position: relative;
}
.mpStyle label, .mpStyle .formControl, .mpStyle .title_on_border, .mpStyle .alignCenter, .mpStyle [class*="_alignCenter"] {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

       /*check box*/
.mpStyle .roundSwitchLabel input[type='checkbox'] {
	display: none;
}
.mpStyle .roundSwitchLabel input:checked + .roundSwitch:before {
	-ms-transform: translateX(35px);
	transform: translateX(35px);
}
.mpStyle *, .mpStyle *::after, .mpStyle *::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.mpStyle .roundSwitchLabel input:checked + .roundSwitch {
	background-color: #006607;
}
.mpStyle label span:not(.woocommerce-Price-currencySymbol) {
	margin: 0 var(--default-mp-xs) 0 0;
}
.mpStyle .roundSwitch {
	width: 60px;
	height: 25px;
	min-width: auto;
	position: relative;
	background-color: #CCC;
	border-radius: 30px;
	-webkit-transition: .4s;
	transition: .4s;
}